.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
h1 {
  font-size: 5rem;
  font-weight: 600;
}
.bank-name {
  font-weight: 800;
}
h5 {
  font-weight: 100;
}
