<html>
  <head>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <div class="header">
      <nav class="navbar">
        <a href="../index.html" class="nav-logo">SparkBank.</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href="../payer.html" class="nav-link">USERS</a>
          </li>
          <li class="nav-item">
            <a href="../transactions.html" class="nav-link">TRANSACTIONS</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
