<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link rel="stylesheet" href="../css/hero.css" />
  <body>
    <div class="hero">
      <!-- Content section  -->
      <div class="hero__content">
        <h1 class="hero__title">
          Welcome to <span class="bank-name">SparkBank!</span>
        </h1>
        <h3 class="hero__subHeading">
          Explore the transaction proccess without any login or register
        </h3>
        <h5>-Developed By Pankaj Kulsange</h5>
        <br />
        <div class="hero__callToAction">
          <a href="../users.html">
            <button class="btn btn-primary btn-lg">Let's get Started >></button>
          </a>
        </div>
      </div>
      <!-- Image section  -->
      <div class="hero__image">
        <img class="hero__logo" src="../images/logo.png" alt="logo" />
      </div>
    </div>
  </body>
</html>
