<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="hero">
      <div class="hero__image">
        <img class="hero__logo" src="../images/logo.png" alt="logo" />
      </div>
      <div class="hero__content">
        <div class="hero__title">Welcome to our Bank!</div>
        <div class="hero__subHeading">
          Explore the transaction proccess without any login or register
        </div>
        <div class="hero__callToAction">
          <button>Let's get Started >></button>
        </div>
      </div>
    </div>
  </body>
</html>
